
body {
  margin: 0;
  padding: 0;
  background:white;  /* fallback for old browsers */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* HEADER */
.header{
  background-color: gray;
  border: 1px solid grey;
}
.title{
  color: black;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}

/* NAV */
.nav{
  text-align: center;
  padding: 1rem;
  background-color: silver;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  justify-content: space-around;
}
.nav a{
  text-decoration: none;
  padding: 1rem;
  color: white;
  border: 1px solid white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.nav a:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

/* FOOTER */
.footer{
  text-align: center;
  border: 1px solid grey;
  background-color: silver;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}